* {
  outline: solid 1px red; }

/***** Base Styles*******/
h1 {
  color: white;
  font-family: helvetica, sans-serif;
  font-size: 50px;
  text-shadow: 0px 0px 50px black; }
  @media (max-width: 500px) {
    h1 {
      font-size: 35px; } }

h2 {
  color: white;
  text-shadow: 0px 0px 50px black;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5; }
  @media (max-width: 500px) {
    h2 {
      font-size: 16px; } }

p {
  color: white;
  font-family: arial, sans-serif; }

input {
  font-size: 16px;
  border-radius: 3px; }

input[type=button] {
  width: 150px;
  height: 40px;
  color: white;
  background-color: #0077b3;
  border-radius: 2px;
  border: none; }
  input[type=button]:hover {
    background-color: #3277b3; }

/***** Layout Styles*******/
html {
  height: 100%;
  min-height: 100%;
  position: relative; }

header {
  margin-left: 40px;
  margin-top: 20px;
  vertical-align: top; }
  @media (max-width: 500px) {
    header {
      margin-left: 10px;
      margin-top: 20px; } }

section {
  margin-left: 40px; }
  @media (max-width: 500px) {
    section {
      margin-left: 10px;
      margin-top: 250px; } }

footer {
  position: absolute;
  bottom: 20px;
  right: 20px; }

/***** Module Styles*******/
img.logo {
  width: 120px; }

.float-right {
  display: inline-block;
  float: right;
  clear: right;
  margin-right: 20px;
  margin-top: 5px; }

.float-left {
  display: block;
  clear: left;
  float: left; }

.no-clear-float-left {
  display: inline-block;
  float: left; }

.page-title {
  margin-top: 150px; }

.page-description {
  width: 500px;
  margin-top: 30px; }

.name-text,
.email-text {
  margin-right: 10px;
  display: inline-block;
  width: 240px;
  height: 36px; }
  @media (max-width: 500px) {
    .name-text,
    .email-text {
      width: 95%;
      margin-left: 0px;
      margin-bottom: 10px; } }

.email-text {
  margin-top: 10px; }

.join-button {
  margin-top: 10px;
  margin-bottom: 20px; }

.facebook,
.twitter {
  margin-top: 10px; }

.twitter {
  margin-left: 10px; }

/***** State Styles*******/
/***** Theme Styles*******/
html {
  background-image: url(../images/Unknown.jpg);
  background-size: cover;
  background-position: 80% top;
  background-repeat: no-repeat; }
