html {
  height: 100%;
  min-height: 100%;
  background-image: url(../images/Unknown.jpg);
  background-size: cover;
  background-position: 80% top;
  background-repeat: no-repeat; }
  @media (max-width: 500px) {
    html {
      position: fixed;
      top: 0px;
      left: 0px; } }

header {
  margin-left: 40px;
  margin-top: 20px;
  vertical-align: top; }
  header img {
    width: 120px; }
  header p {
    position: absolute;
    right: 20px;
    top: 25px;
    color: white;
    font-family: arial, sans-serif; }
  @media (max-width: 500px) {
    header {
      margin-left: 10px;
      margin-top: 20px; } }

section {
  margin-left: 40px; }
  @media (max-width: 500px) {
    section {
      margin-left: 10px;
      margin-top: 280px; } }
  section h1 {
    font-family: helvetica, sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 90px;
    margin-bottom: 20px;
    text-shadow: 0px 0px 50px black;
    font-weight: 700; }
    @media (max-width: 500px) {
      section h1 {
        font-size: 35px; } }
  section h3 {
    color: white;
    text-shadow: 0px 0px 50px black;
    font-family: sans-serif;
    font-size: 20px;
    width: 500px;
    line-height: 1.5; }
    @media (max-width: 500px) {
      section h3 {
        font-size: 16px;
        width: 95%;
        margin-bottom: 20px; } }
  section input {
    display: inline-block;
    width: 240px;
    height: 36px;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 3px; }
    @media (max-width: 500px) {
      section input {
        width: 95%;
        margin-left: 0px;
        margin-bottom: 15px; }
        section input .button {
          margin-left: 0px;
          width: 95%; } }
  section p {
    color: white;
    margin-top: 40px; }
    @media (max-width: 500px) {
      section p {
        display: inline-block;
        width: 90%;
        margin-bottom: 10px;
        font-size: 14px; } }
  section div {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 40px;
    margin-right: 20px;
    color: #a19fab; }
    section div:hover {
      color: white; }
    section div i {
      position: absolute;
      left: 10px;
      top: 25px;
      font-size: 30px; }
      @media (max-width: 500px) {
        section div i {
          top: 5px; } }
    section div input.links {
      position: relative;
      background-color: rgba(0, 0, 0, 0.2);
      color: gray; }
      section div input.links:hover {
        color: white;
        background-color: rgba(0, 0, 0, 0.4); }
  section input[type=button] {
    width: 150px;
    height: 40px;
    color: white;
    background-color: #0077b3;
    border-radius: 2px;
    border: none; }
    section input[type=button]:hover {
      background-color: #3277b3; }
  section .email {
    display: block;
    width: 500px; }
    @media (max-width: 500px) {
      section .email {
        display: inline-block;
        width: 95%; } }

footer {
  color: white;
  position: absolute;
  bottom: 20px;
  right: 20px; }
  @media (max-width: 500px) {
    footer {
      display: none; } }
